@model IEnumerable<Library_web.Models.DTO.PublisherDTO>

<link rel="stylesheet" href="~/css/publisher.css" />

<h2>List of Publishers</h2>
<a class="btn btn-primary" asp-controller="Publishers" asp-action="addPublisher">Add new Publisher</a>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>
                <a asp-controller="Publishers" asp-action="ListPublisher" asp-route-id="@item.Id">View</a> 
                <a asp-controller="Publishers" asp-action="editPublisher" asp-route-id="@item.Id">Edit</a> 
                <a asp-controller="Publishers" asp-action="delPublisher" asp-route-id="@item.Id">Delete</a> 
            </td>
        </tr>
    }
</table>
